<div class="container" id="about_comics">
<div class="products col-sm-11">
  <h1 class="heading"> <img src="/assets/heaprohead.png" alt="" /> </h1>
  <div class="col-sm-12 wrap-p"> <a href="" class="viewmoew"></a>
    <div class="product col-sm-3">
      <div class="img"> <img src="/assets/5.jpg" alt=""/> </div>
      <div class="cart-box">
        <h2 class="product-title">Comic TitleGoes Here</h2>
        <span class="product-price"> $55.33 </span> <a class="add-cart">Add to cart</a> </div>
    </div>
    <div class="product col-sm-3">
      <div class="img"> <img src="/assets/6.jpg" alt=""/> </div>
      <div class="cart-box">
        <h2 class="product-title">Comic TitleGoes Here</h2>
        <span class="product-price"> $55.33 </span> <a class="add-cart">Add to cart</a> </div>
    </div>
    <div class="product col-sm-3">
      <div class="img"> <img src="/assets/7.jpg" alt=""/> </div>
      <div class="cart-box">
        <h2 class="product-title">Comic TitleGoes Here</h2>
        <span class="product-price"> $55.33 </span> <a class="add-cart">Add to cart</a> </div>
    </div>
    <div class="product col-sm-3">
      <div class="img"> <img src="/assets/8.jpg" alt=""/> </div>
      <div class="cart-box">
        <h2 class="product-title">Comic TitleGoes Here</h2>
        <span class="product-price"> $55.33 </span> <a class="add-cart">Add to cart</a> </div>
    </div>
  </div>
</div>
<div class="about col-sm-11">
  <h1 class="heading"> A SHort About Us </h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
</div>
</div>