<div class="testimonials">
  <h1 class="heading"> What Readers Says </h1>
  <div class="test-box t1">
    <div class="container">
      <div class="test-bg"></div>
      <div class="col-sm-4 t1">
        <div class="test-title">John Doe | <span>Regular Reader</span></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
      </div>
      <div class="col-sm-4 t2">
        <div class="test-title">John Doe | <span>Regular Reader</span></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
      </div>
      <div class="col-sm-4 t3">
        <div class="test-title">John Doe | <span>Regular Reader</span></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="subscribe">
  <div class="sub-bg"></div>
  <div class="container">
    <h1 class="heading"> Subscribe for Latest Updates </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <div class="sibscribe"> <img src="/assets/subscribe.png" alt=""/>
      <input type="text" class="inpit-text" placeholder="Email Address" />
      <input type="submit" class="inpit-submit" value="Subscribe Now"/>
    </div>
  </div>
</div>