<div class="container">
  <div class="col-sm-12">
    <div class="slider">
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="slider-img">
          <a href="" class="arrow-1"></a> <a href="" class="arrow-2 "></a>
          <img src="/assets/slider-bgg.png" alt="" />
        </div>
      
        <div class="item active">
          <div class="carousel-caption"> </div>
          <img src="/assets/slide.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="bimg"><img src="/assets/bg.jpg" alt=""/></div>
  </div>
  <div class="clearfix"></div>
</div>